<h2>Regístrate</h2>
<form action="/user_registration" method="post">
  <input type="text" name="user_name" placeholder="name"><br>
  <input type="text" name="user_email" placeholder="email"><br>
  <input type="password" name="user_password" placeholder="password"><br>
  <input type="submit">
</form>